{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>{{ title }}</h2>
        <br>
        {% if title == "Mean ( Nilai Rata-rata )" %}
            <div class="alert alert-block alert-warning">
                <b>Rumus :</b> <br> <br>
                $\bar{x} = \frac{x_1 + x_2 + x_3 + ... + x_n}{n} = \frac{1}{n} \sum \limits^{n}_{i=1} x_i$
            </div>
        {% elif title == "Standar Deviasi ( Simpangan Baku )" %}
            <div class="alert alert-block alert-warning">
                <b>Rumus :</b> <br> <br>
                $s = \sqrt{ \frac{n \sum \limits^{n}_{i=1} x_i^2 - (\sum \limits^{n}_{i=1} x_1)^2}{n(n-1)}}$
            </div>
        {% elif title == "Probabilitas ( Peluang )" %}
            <div class="alert alert-block alert-warning">
                <b>Rumus :</b> <br> <br> 
                $P(E) = \frac{X}{N}$
            </div>
        {% elif title == "Predict ( Prediksi )" %}
            <div class="alert alert-block alert-success">
                <b>Success :</b> Data berhasil diklasifikasikan dengan keterangan sebagai berikut :
                <ul>
                    <li>Positif : Dapat dikatakan pada provinsi tersebut bahwa tingkat penyebaran COVID-19 dengan kasus pasien yang terkena positif lebih tinggi.</li>
                    <li>Negatif : Dapat dikatakan pada provinsi tersebut bahwa tingkat penyebaran COVID-19 dengan kasus pasien yang terkena positif lebih rendah.</li>
                </ul>
            </div>
        {% endif %}
        <br>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
{% endblock %}