{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>{{ title }}</h2>
        <br>
        <h3>Data Positif</h3>
        {% for table in tables1 %}
            {{ table|safe }}
        {% endfor %}
        <div class="alert alert-block alert-info">
            <b>Note :</b> Total data dengan kategori <b>Positif</b> sebanyak {{ total_positif }} data.
        </div>
        <br>
        <h3>Data Negatif</h3>
        {% for table in tables2 %}
            {{ table|safe }}
        {% endfor %}
        <div class="alert alert-block alert-info">
            <b>Note :</b> Total data dengan kategori <b>Negatif</b> sebanyak {{ total_negatif }} data.
        </div>
    </div>
{% endblock %}