{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>{{ title }}</h2>
        <br>
        {% if title == "Data Training" %}
            <div class="alert alert-block alert-info">
                <b>Note :</b> Data yang digunakan diambil dari situs resmi 
                <a href="https://covid19.go.id/peta-sebaran">Satgas Penanganan COVID-19</a> 
                pada tanggal 15 Mei 2020.
            </div>
            <br>
        {% elif title == "Analysis" %}
            <div class="alert alert-block alert-info">
                <b>Note :</b> Dilakukan testing sebanyak {{ total_data }} data yang diambil dari data training untuk dibandingkan hasil prediksi dari atribut "Kasus Terbesar Per Provinsi".
            </div>
            <br>
        {% endif %}

        <div class="table-responsive">
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>

        {% if title == "Data Training" or title == "Analysis" %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="alert alert-block alert-success">
                        {% if title == "Data Training" %}
                            <b>Positif :</b> Kasus pasien yang terkena Positif lebih besar ({{ total_positif }} data).
                        {% else %}
                            <b>Success :</b> {{ success }} data berhasil diklasifikasikan, dengan persentase {{ success_percentage }}%.
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="alert alert-block alert-danger">
                        {% if title == "Data Training" %}
                            <b>Negatif :</b> Kasus pasien yang terkena Positif lebih rendah ({{ total_negatif }} data).
                        {% else %}
                            <b>Failed :</b> {{ failed }} data gagal diklasifikasikan, dengan persentase {{ failed_percentage }}%.
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
