{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Data Training ( Data Latih )</h2>
        <br>
        <div class="alert alert-block alert-info">
            <b>Note :</b> Data yang digunakan diambil dari situs resmi 
            <a href="https://covid19.go.id/peta-sebaran">Satgas Penanganan COVID-19</a> 
            pada tanggal 15 Mei 2020.
        </div>
        <br>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
        <div class="alert alert-block alert-info">
            <b>Note :</b>
            <ul>
                <li>Positif : Kasus Pasien yang terkena Positif lebih besar.</li>
                <li>Negatif : Kasus pasien yang terkena positif lebih rendah.</li>
            </ul>
        </div>
    </div>
{% endblock %}

