{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="display-4">Naive Bayes</h1>
        <p class="lead">Implementasi Algoritma Naive Bayes Untuk Memprediksi Tingkat Penyebaran Covid-19 Di Indonesia.</p>
        <hr class="my-4">
        <p>Dibuat oleh <b>Mochammad Arya Salsabila</b>.</p>
        <p class="lead">
            <a class="btn btn-primary" href="https://journal.isas.or.id/index.php/JACOST/article/view/9" role="button">Jurnal</a>
        </p>
    </div>
{% endblock %}
